[package]
name = "xq"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.57"
async-trait = "0.1.56"
tracing = "0.1.35"
reqwest = "0.11.11"
sqlparser = "0.18.0"
tokio = { version = "1.19.2", features = ["full"] }
polars = { version = "0.22.8", features = ["lazy", "bigidx"] }

[dev-dependencies]
tracing-subscriber = "0.3.11"
